[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/turf-booking-management-django-rest-framework-backend
ExecStart=/home/ubuntu/turf-booking-management-django-rest-framework-backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          backend.wsgi:application
[Install]
WantedBy=multi-user.target